/* mouse cursor style start */
body{
    /* cursor: none; */
    overflow: hidden;
    position: relative;
}
.cursor-glow {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #5e9e9f;
    position: absolute;
}
.cursor-glow::after{
    content: '';
    width: 5px;
    height:5px;
    background: var(--box-After,#5e9e9f);
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius:50%;
}
/* mouse cursor style end */
/* color panel style start */
.color-panel{
    display: flex;
    position: absolute;
    right: 0;
    top: 200px;
    cursor:auto;
    transform: translateX(200px);
    transition: 0.3s ease-in-out;
    z-index: 9;
}
.color-panel-toggle{
    transform: translateX(0);
}
.color-btn{
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    background-color: #222;
    cursor: pointer;
}
.color-btn i{
    font-size: 24px;
    color: #fff;
    animation: gear-rotate 2s linear infinite;
}
@keyframes gear-rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.color-panel .colors{
    background-color: #222;
    width: 200px;
    height: 350px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.color-panel .colors h2{
    color: #fff;
    text-decoration: underline;
    font-size: 18px;
    width: 100%;
    margin-bottom: 20px;
}
.color-panel .colors .panel{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.color-panel .colors .color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--background-color);
    cursor: pointer;
}
.color-panel .colors .mouse-style{
    padding-top: 20px;
}
.color-panel .colors .mouse-style i{
    color: #fff;
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
/* color panel style end */
/* loading page style start */
.loading{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.loading .load{
    width: 5px;
    height: 100%;
    background-color: #555;
    animation: loadingAnimation 2s infinite cubic-bezier(.68,.74,.42,-0.08);
}
@keyframes loadingAnimation {
    0%{
        width: 5px;
        height: 0;
    }
    50%{
        width: 5px;
        height: 100%;
    }
    100%{
        width: 100%;
        height: 100%;
    }
}
/* loading page style end */
/* website sections style start */
.website-sections{
    background-color: #000;
    width: 100%;
    height: 100vh;
    padding-top: 30px;
    position: relative;
    overflow: hidden;
}
@media (max-width: 576px) {
    .website-sections{
        overflow-y: visible;
    }
}
.website-sections  .navigation-bar{
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.website-sections  .navigation-bar .logo{
    color: #fff;
    font-size: 26px;
    display: flex;
}
.website-sections  .navigation-bar .logo .m{
    color: #5e9e9f;
    background-color: #fff;
    font-weight: bold;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
}
.website-sections  .navigation-bar .logo .shukri{
    font-weight: bold;
    margin-left: 5px;
}
.website-sections  .navigation-bar .menu,
.website-sections .res-menu .menu{
    padding-top: 10px;
    transition: 0.5s ease-in-out;
    display: flex;
}
.website-sections  .navigation-bar #menu,
.website-sections .res-menu .menu #menu{
    transition: 0.5s ease-in-out;
}
.website-sections  .navigation-bar .menu ul,
.website-sections .res-menu .menu ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.website-sections  .navigation-bar .menu ul li,
.website-sections .res-menu .menu ul li{
    list-style: none;
    margin-left: 5px;
    margin-right: 5px;
}
.website-sections  .navigation-bar .menu ul li a,
.website-sections .res-menu .menu ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.website-sections  .navigation-bar .menu ul li a.colorize-line-link{
    color: var(--hover-color);
}
.website-sections  .navigation-bar .menu ul li:hover a,
.website-sections .res-menu .menu ul li:hover a{
    color: var(--hover-color);
}
.website-sections .navigation-bar .bar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    display: none;
    position: relative;
    height: 50px;
}
.website-sections .navigation-bar .bar span{
    width: 50px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: 0.3s ease-in-out;
}
.website-sections .navigation-bar .bar .special{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.website-sections .navigation-bar .bar span.hide{
    display: none;
}
.website-sections .navigation-bar .bar span.rotate{
    transform: rotate(45deg);
}
.website-sections .navigation-bar .bar span.-rotate{
    transform: rotate(-45deg);
}
.website-sections .res-menu{
    height: 100vh;
    width: 300px;
    background-color: #000;
    position: absolute;
    right: 0;
    transform: translateX(300px);
    transition: 0.5s ease-in-out;
    z-index: 10;
}
.website-sections .res-menu-toggle{
    transform: translateX(0px);
}
.website-sections .res-menu .menu{
    padding-top: 10px;
    transition: 0.5s ease-in-out;
    display: flex;
}
.website-sections .res-menu .menu #menu{
    transition: 0.5s ease-in-out;
}
.website-sections .res-menu .menu ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.website-sections .res-menu .menu ul li{
    margin-top: 10px;
    margin-bottom: 10px;
}
.website-sections .res-menu .menu ul li a.res-colorize-line-link{
    color: var(--res-hover-color);
}
@media (max-width: 776px) {
    .website-sections .navigation-bar .bar{
        display: flex;
    }
    .website-sections  .navigation-bar .menu{
        display: none;
    }
}
.website-sections .pages{
    background-color: #5e9e9f;
    width: 100%;
    height: 100vh;
    position: relative;
}
.website-sections .home,
.website-sections .about,
.website-sections .portfolio,
.website-sections .news,
.website-sections .contact{
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}
.website-sections .home{
    z-index: 8;
    display: grid;
    place-items: center;
}
.website-sections .home .content{
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 300px;
}
.website-sections .home .content h1{
    font-size: 55px;
    font-weight: bold;
}
.website-sections .home .content h1 span{
    color: #5e9e9f;
}
.website-sections .home .content p{
    font-size: 30px;
}
.website-sections .home .content p span{
    color: #5e9e9f;
}
.website-sections .home .content .link{
    background-color: #5e9e9f;
    text-align: center;
    border-radius: 30px;
    height: 50px;
    width: 150px;
    display: grid;
    place-items: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.website-sections .home .content a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition-delay: 0.3s;
}
.website-sections .home .content .link:hover{
    background-color: #fff !important;
}
.website-sections .home .content .link:hover a{
    color: #000;
}
.website-sections .about{
    display: grid;
    place-items: center;
    padding-bottom: 150px;
}

.website-sections .about .img-container,
.website-sections .about .content-container{
    display: grid;
    place-items: center;
}
.website-sections .about .img-container .img{
    background-color: #999;
    height: 350px;
    width: 350px;
    border-radius: 30px;
}
.website-sections .about .content-container .content h2{
    font-size: 40px;
    font-weight: bold;
}
.website-sections .about .content-container .content h2 span,
.website-sections .about .content-container .content p span{
    color: #5e9e9f;
}
.website-sections .about .content-container .content p{
    color: #a2a2a2;
    font-size: 18px;
}
.website-sections .about .content .link{
    background-color: #5e9e9f;
    border-radius: 30px;
    height: 50px;
    width: 180px;
    display: grid;
    place-items: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.website-sections .about .content a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition-delay: 0.3s;
}
.website-sections .about .content .link:hover{
    background-color: #fff !important;
}
.website-sections .about .content .link:hover a{
    color: #000;
}
@media (max-width: 992px) {
    .website-sections .about .img-container,
.website-sections .about .content-container{
    place-items: unset;
}
}
@media (max-width: 576px) {
    .website-sections .about .img-container .img{
        width: 250px;
    }
}
/* website sections style end */